@media screen and (max-width: 425px) {
  body{
    display: flex;
    flex-direction: column;
    margin : 5% 5% 5% 5%;
    width : 90%;
  }
  .page-content{
    min-height: 500px;
  }
  header {
    width: 100%;
    margin: auto;
  }
  .main-title{
    font-size: 2.5em;
    margin: auto;
  }
  .main-subtitle{
    font-size : 0.9em;
  }
  .navbar{
    background-color : #1D678C;
    width:90%;
    margin : auto;
    height : 5%;
    justify-content: space-evenly;
    position: fixed;
    bottom: 0;
    z-index: 1;
  }
  .navbar i {
    font-size: 1.3em;
  }
  .navbar p{
    display: none;
  }

  hr {
    width: 25%;
    border: none;
    background-color: #053861bd;
    height : 1px;
    margin-top: 2%;
    margin-bottom: 1%;
  }

  /*LISTPOSTSVIEW*/
  .listposts-section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 500px;
  }
  .no-posts{
    width : 45%;
    height: 60%;
    margin : auto;
    border : 1px solid #DAE0E2;
    border-radius: 10px;
    box-shadow: 1px 2px 3px #3d3d3dbd;
  }
  .no-posts p{
    font-family: "montserrat", sans-serif;
    text-align: center;
    font-size: 1.1em;
    margin: 7% auto 7% auto ;
    border-left : 5px solid #053861 ;
  }
  .no-posts a{
    text-decoration: none;
    color: inherit;
  }
  .no-posts a:hover{
    font-style:italic;
    font-weight: bold;
    color : #1D678C;
  }
  .listposts-container{
    width : 90%;
    margin-top: 8%;
  }

  .listposts-head p{
    font-family: "montserrat", sans-serif;
    font-size: 0.75em;
    margin-left: 5%;
  }
  .listposts-head h3{
    font-size: 1.2em;
    border-left: 3px solid #053861;
  }
  .listposts-content p {
    font-size: .80em;
  }
  .listposts-footer{
    font-size: .80em;
  }

  /*postView*/

  .post-container{
    width : 90%;
    margin : 5% auto auto auto;
  }
  .post-container h2{
    border-left : 3px solid #053861;
    font-size : 1.3em;
    margin-top : 7% ;
    margin-bottom: 5%;
    padding: 2%;
  }
  .post-container p{
    font-size: 0.85em;
  }
  .no-post{
    text-align:center;
    font-family: "montserrat", sans-serif;
    font-size: 1.1em;
    margin: auto;
    padding-left: 6%;
    border-left : 5px solid #053861;
  }

  .comments-section{
    flex-direction: column;
    width: 90%;
    min-height: 200px;
    margin: auto;
    position: relative;
  }

  .comments-section-tle3{
    font-size: 1.2em;
    text-align: center;
    margin-top: 3% ;
    margin-bottom: auto;
    padding : 4%;
  }

  .comments-container{
    flex-direction: column;
    width: 100%;
    margin-bottom:7%;
  }

  .no-comments p{
    font-size: .85em;
  }
  .comment-container{
    background-color: #ffffff;
    width : 100%;
    margin-top: 5%;
    border-left : 2px solid #053861;
    border-right : 2px solid #053861;
    border-radius: 15px;
  }
  .comment-infos{
    font-size: 0.8em;
    height: 20%;
  }
  .comment-date{
    font-size: 0.75em;
  }
  .comment-author{
    font-size: 1em;
  }
  .comment-content{
    align-items: center;
    font-size: 0.85em;
  }

  .signal-container{
    font-size: 0.75em;
  }
  .signaled-comment{
    font-size: 0.75em;
  }
  .signal-container a{
    color : #3d3d3d;
    text-decoration: none;
  }
  .delete-comment{
    font-size: 0.75em;
  }

  .comment-form-container{
    position : static;
  }
  .form {
    position: static;
    width : 90%;
    margin : 8% auto 10% auto;
  }
  .form h5{
    border-left : 3px solid #053861;
    font-size: .8em;
  }
  .form input[type=text]{
    font-size: .8em;
  }

  /* loginView */

  .login-fieldset{
    width : 90%;
    margin-bottom: 5%;
  }
  .login-fieldset h2 {
    border-left: 3px solid #053861;
    font-size : 1.5em;
  }
  .login-fieldset p{
    font-size: 0.85em;
  }

  .fa-user, .fa-lock{
    color : #3d3d3d;
    font-size: 1em;
    margin-right: 2%;
  }

  .login-form input[type=text], input[type=password] {
    font-size: 0.85em;
    width: 75%;
  }
  .login-form  input[type=submit]{
    font-size: 0.70em;
    width : 45%;
  }

  .login-fieldset a{
    font-size: 0.65em;
  }


  /* adminView */
  .adminView-content{
    min-height:475px;
  }
  .admin-subtitle{
    margin : 5% 2% 3% 2%;
    font-size: 0.88em;
    white-space: nowrap;
  }
  .admin-listposts{
    width :95%;
    margin : 10% auto 12% auto;
  }
  .admin-listposts .all-posts{
    text-align: left;
    margin-left: 15%;
  }
  .admin-listposts .online p,.admin-listposts .update p, .admin-listposts .delete p {
    display: none;
  }
  .admin-listposts-link{
    text-align: left;
    width: 70%;
  }
  .admin-listposts-link a{
    margin-left: 3%;
  }
  .admin-listpost-chips{
    margin-right : 30%;
  }
  .admin-listposts .green-circle{
    font-size: 1em;
  }
  .admin-listposts .grey-circle{
    font-size: 1em;
  }

  /*createPostView et updatepostview*/
  .edit-post-container{
    width : 90%;
  }
  .edit-post-container {
    font-size : 1em;
    margin-top: 5%;
  }

  .edit-post-container form{
    margin-bottom: 15%;
  }
  .edit-post-container .fa-book-open{
    font-size: 0.9em;
  }
  .edit-post-container input[type=text]{
    margin : 5% auto 2% auto;
    width : 43%;
    font-size: 0.85em;
    border-bottom: 1px solid #053861;
  }

  .edit-post-container input[type=checkbox] {
    bottom : 29em;
    margin-left: 5.3em;
    opacity:0;
  }
  .edit-post-container .published {
    font-size: .85em;
    margin-left: 4em;
    margin-right: 0;
    padding-top: 0.4em;
    padding-right: 1em;
    padding-left: 2em;
  }

  .edit-post-container input[type=submit]{
    background-color: transparent;
    color: transparent;
    border: none;
    width: 2em;
    padding : 0;
    position: fixed;
    bottom : 0.4em;
    right : 30%;
    z-index:4;
  }
  .submit .fa-save{
    width: 2em;
    background-color: transparent;
    border : none;
    color : #ffffff;
    text-align: center;
    font-size: 1.3em;
    position: fixed;
    bottom : 0.3em;
    right : 30%;
    z-index:3;
  }
  .edit-post-container input[type=submit]:hover{
    background-color: transparent;
    border: none;
    color: transparent;
  }
  .fa-save:hover{
    background-color: transparent;
    border: none;
  }
  .back{
    background-color: transparent;
    border: none;
    position: fixed;
    bottom: 0.3em;
    left:30%;
    z-index: 4;
  }
  .back i{
    background-color: transparent
    border: none;
    color : #ffffff;
    font-size: 1.3em;
  }

  .back:hover, .back i{
    background-color: transparent;
    border: none;
  }
  .back p {
    display:none;
  }

  /*flagsView*/
  .flagsView-content{
    min-height: 475px;
  }
  .flags-head h2{
    font-size : 1.5em;
  }
  .flags-list p{
    font-size: 0.9em;
  }
  .flags-list table{
    width : 95%;
    margin : 10% auto 12% auto;
  }

  .flags-list .flags {
    text-align: left;
    white-space: nowrap;
  }
  .flags-list .ok p,.flags-list .delete p,.flags-list .post p{
    display: none;
  }
  .flags-list-post a{
    display: none;
  }
  .flags-list-comments{
    text-align: left;
    width: 70%;
  }

  /*logoutView*/
  .logout{
    width : 80%;
    margin : 5% auto 2% auto;
    border : 1px solid #DAE0E2;
    border-radius: 10px;
    box-shadow: 1px 2px 3px #3d3d3dbd;
  }
  .logout h2{
    border-left: 3px solid #053861;
    font-size : 1.5em;
  }
  .logout p{
    font-size: 0.9em;
  }

  footer{
    display: none;
  }
}
