@media screen and (max-width: 1024px) {
  .page-content{
    min-height: 350px;
  }
  .main-title{
    font-size: 3.5em;
  }
  .main-subtitle{
    text-align: center;
    font-size : 1.2em;
  }

  hr {
    width: 25%;
    border: none;
    background-color: #053861bd;
    height : 1px;
    margin-top: 2%;
    margin-bottom: 1%;
  }
  /*postView*/

  .post-container{
    width : 65%;
    margin : 2% auto 2% auto;
  }
  .post-container p{
    width : 80%;
    margin: auto 7% 5% 10%;
  }

  .comments-section-tle3{
    font-size: 1.5em;
  }

  .comments-container{
    width: 55%;
    height: auto;
  }

  /* loginView */

  .login-fieldset{
    margin : 3% auto 1% auto;
  }
  .login-form  input[type=submit]{
    font-size: 0.8em;
  }
  .login-form input[type=submit]:hover{
    background-color: #ffffff;
    border : 2px solid #053861;
    color: #053861;
  }
  .login-fieldset a{
    font-size: 0.75em;
  }


  /* adminView */

  .admin-subtitle{
    font-size: 1.1em;
  }
  /*createPostView et updatepostview*/
  .edit-post-container form{
    margin-bottom: 1em;
  }
  .head-container {
    margin-bottom : 1.5em;
  }
  .edit-post-container i {
    display:block;
  }
  .edit-post-container input[type=text]{
    width : 15em;
  }

  .edit-post-container input[type="checkbox"] {
    opacity: 0;
  }
  .edit-post-container .published {
    font-size: .85em;
  }

  .edit-post-container input[type=submit]{
    font-size: 0.85em;
  }
}
@media screen and (max-width: 768px) {
  .page-content{
    min-height: 350px;
  }

  .main-title{
    font-size: 3em;
  }
  .main-subtitle{
    font-size : 1.1em;
  }
  .navbar{
    height : 3em;
    justify-content: flex-end;
  }
  .navbar a,.navbar p,.navbar i {
    font-size: 0.95em ;
  }

  /*LISTPOSTSVIEW*/
  .listposts-section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 200px;
  }
  .no-posts{
    width : 45%;
    height: 60%;
    margin : auto;
    border : 1px solid #DAE0E2;
    border-radius: 10px;
    box-shadow: 1px 2px 3px #3d3d3dbd;
  }
  .no-posts p{
    font-family: "montserrat", sans-serif;
    text-align: center;
    font-size: 1.1em;
    margin: 7% auto 7% auto ;
    border-left : 5px solid #053861 ;
  }
  .no-posts a{
    text-decoration: none;
    color: inherit;
  }
  .no-posts a:hover{
    font-style:italic;
    font-weight: bold;
    color : #1D678C;
  }
  .listposts-container{
    width : 750%;
  }

  /*postView*/

  .post-container{
    width : 65%;
    margin : 2% auto 2% 10%;
  }
  .post-container h2{
    font-size : 1.8em;
  }
  .post-container p{
    width : 90%;
    margin: auto 5% 5% auto;
  }
  .no-post{
    text-align:center;
    font-family: "montserrat", sans-serif;
    font-size: 1.1em;
    margin: auto;
    padding-left: 6%;
    border-left : 5px solid #053861;
  }

  .comments-section{
    width: 80%;
    min-height: 200px;
  }

  .comments-section-tle3{
    font-size: 1.5em;
  }

  .no-comments p{
    margin-top: 35%;
    text-align: center;
    font-style:italic;
    font-family: "Montserrat", sans-serif;
    color : #3d3d3dbd;
    font-size: 1.1em;
  }

  .form {
    width : 27%;
    margin : 2% auto 2% auto;
    border : 1px solid #DAE0E2;
    border-radius: 10px;
    box-shadow: 1px 2px 3px #3d3d3dbd;
    position : fixed ;
    bottom : 0;
    right : 3%;
    z-index : 2;
  }
  /* loginView */

  .login-fieldset{
    width : 65%;
    margin : 5% auto 5% auto;
  }
  .login-fieldset h2 {
    font-size : 1.8em;
  }

  /* adminView */

  .admin-subtitle{
    font-size: 1em;
  }
  .admin-container{
    min-height: 475px;
  }
  .admin-listposts{
    width : 85%;
  }
  .admin-listposts th{
    font-size: 0.9em;
    padding : 2%;
  }
  .admin-listposts td a{
  font-size: 0.9em;
  }
  .admin-listposts .green-circle{
    color: #34C924;
    font-size: 1em;
  }
  .admin-listposts .grey-circle{
    color: #D8DFE3;
    font-size: 1em;
  }

  /*createPostView et updatepostview*/
  .edit-post-container{
    width : 80%;
    margin: auto;
  }
  .edit-post-container i{
    font-size: 1.1em;
  }
  .edit-post-container input[type="text"]{
    width : 10em;
    margin-right: 1em;
  }
  .edit-post-container input[type="checkbox"] {
    opacity: 0;
  }
  .edit-post-container .published {
    font-size: .9em;
  }
  .edit-post-container input[type=submit]{
    margin-right: 0.5em;
  }

  /*flagsView*/
  .flags-head h2{
    color: #053861;
  }
  .flags-list p{
    font-size: 0.9em;
  }
  .flags-list table {
    width : 85%;
  }

  .flags-list th{
    font-size: 0.9em;
    padding : 2%;
  }
  .flags-list td{
    font-size: 0.9em;
  }

  /*logoutView*/
  .logout{
    width : 55%;
    margin : 10% auto 10% auto;
  }
  .logout h2{
    border-left: 3px solid #053861;
    font-size : 1.8em;
  }
  .logout p{
    font-size: 1em;
  }
}
@media screen and (max-width: 425px) {
  body{
    display: flex;
    flex-direction: column;
    margin : 5% 5% 5% 5%;
    width : 90%;
  }
  .page-content{
    min-height: 500px;
  }
  header {
    width: 100%;
    margin: auto;
  }
  .main-title{
    font-size: 2.2em;
    padding: 5%;
    margin: auto;
  }
  .main-subtitle{
    font-size : 1em;
  }
  .navbar{
    background-color : #1D678C;
    width:90%;
    margin : auto;
    height : 5%;
    justify-content: space-evenly;
    position: fixed;
    bottom: 0;
    z-index: 1;
  }
  .navbar i {
    font-size: 1.3em;
  }
  .navbar p{
    display: none;
  }

  hr {
    width: 25%;
    border: none;
    background-color: #053861bd;
    height : 1px;
    margin-top: 2%;
    margin-bottom: 1%;
  }

  /*LISTPOSTSVIEW*/
  .listposts-section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 500px;
  }
  .no-posts{
    width : 90%;
  }
  .no-posts p{
    font-size: 0.9em;
    border-left : 3px solid #053861 ;
  }
  .no-posts a{
    text-decoration: none;
    color: inherit;
  }
  .no-posts a:hover{
    font-style:italic;
    font-weight: bold;
    color : #1D678C;
  }
  .listposts-container{
    width : 90%;
    height:60%;
    margin-top: 8%;
  }

  .listposts-head p{
    font-family: "montserrat", sans-serif;
    font-size: 0.75em;
    margin-left: 5%;
  }
  .listposts-head h3{
    font-size: 1.2em;
    border-left: 3px solid #053861;
  }
  .listposts-content p {
    font-size: 0.85em;
  }
  .listposts-footer{
    font-size: .80em;
  }

  /*postView*/

  .post-container{
    width : 90%;
    margin : 5% auto auto auto;
  }
  .post-container h2{
    border-left : 3px solid #053861;
    font-size : 1.3em;
    margin-top : 7% ;
    margin-bottom: 5%;
    padding: 2%;
  }
  .post-container p{
    font-size: 0.85em;
  }
  .no-post{
    text-align:center;
    font-family: "montserrat", sans-serif;
    font-size: 1.1em;
    margin: auto;
    padding-left: 6%;
    border-left : 5px solid #053861;
  }

  .comments-section{
    flex-direction: column;
    width: 90%;
    min-height: 200px;
    margin: auto;
    position: relative;
  }

  .comments-section-tle3{
    font-size: 1.2em;
    text-align: center;
    margin-top: 3% ;
    margin-bottom: auto;
    padding : 4%;
  }

  .comments-container{
    flex-direction: column;
    width: 100%;
    margin-bottom:7%;
  }

  .no-comments p{
    font-size: .85em;
  }
  .comment-container{
    background-color: #ffffff;
    width : 100%;
    margin-top: 5%;
    border-left : 2px solid #053861;
    border-right : 2px solid #053861;
    border-radius: 15px;
  }
  .comment-infos{
    font-size: 0.8em;
    height: 20%;
  }
  .comment-date{
    font-size: 0.75em;
  }
  .comment-author{
    font-size: 1em;
  }
  .comment-content{
    align-items: center;
    font-size: 0.85em;
  }

  .signal-container{
    font-size: 0.75em;
  }
  .signaled-comment{
    font-size: 0.75em;
  }
  .signal-container a{
    color : #3d3d3d;
    text-decoration: none;
  }
  .delete-comment{
    font-size: 0.75em;
  }

  .comment-form-container{
    position : static;
  }
  .form {
    position: static;
    width : 90%;
    margin : 8% auto 10% auto;
  }
  .form h5{
    border-left : 3px solid #053861;
    font-size: .8em;
  }
  .form input[type=text]{
    font-size: .8em;
  }

  /* loginView */

  .login-fieldset{
    width : 90%;
    margin-bottom: 5%;
  }
  .login-fieldset h2 {
    border-left: 3px solid #053861;
    font-size : 1.5em;
  }
  .login-fieldset p{
    font-size: 0.85em;
  }

  .fa-user, .fa-lock{
    color : #3d3d3d;
    font-size: 1em;
    margin-right: 2%;
  }

  .login-form input[type=text], input[type=password] {
    font-size: 0.85em;
    width: 75%;
  }
  .login-form  input[type=submit]{
    font-size: 0.70em;
    width : 45%;
  }

  .login-fieldset a{
    font-size: 0.65em;
  }


  /* adminView */
  .adminView-content{
    min-height:475px;
  }
  .admin-subtitle{
    margin : 10% 2% 3% 2%;
    font-size: 0.88em;
    white-space: nowrap;
  }
  .admin-hr{
    margin-top: 3%;
    margin-bottom: 10%;
  }
  .admin-container p {
    text-align: center;
    font-size: 0.9em;
  }
  .admin-listposts{
    width :95%;
    margin : 10% auto 12% auto;
  }
  .admin-listposts .all-posts{
    text-align: left;
    margin-left: 15%;
  }
  .admin-listposts .online p,.admin-listposts .update p, .admin-listposts .delete p {
    display: none;
  }
  .admin-listposts-link{
    text-align: left;
    width: 70%;
  }
  .admin-listposts-link a{
    margin-left: 3%;
  }
  .admin-listpost-chips{
    margin-right : 30%;
  }
  .admin-listposts .green-circle{
    font-size: 1em;
  }
  .admin-listposts .grey-circle{
    font-size: 1em;
  }

  /*createPostView et updatepostview*/
  .edit-post-container{
    width : 90%;
  }
  .edit-post-container {
    font-size : 1em;
    margin-top: 5%;
  }

  .edit-post-container form{
    margin-bottom: 15%;
  }
  .edit-post-container .fa-book-open{
    font-size: 0.9em;
  }
  .edit-post-container input[type=text]{
    width : 10em;
    font-size: 0.85em;
    border-bottom: 1px solid #053861;
  }
  .box-container {
    margin: 0;
  }
  .edit-post-container input[type=checkbox] {
    opacity:0;
  }
  .edit-post-container .published {
    font-size: .85em;
    padding-top: 0.4em;
    padding-right: 1em;
    padding-left: 2em;
  }
  .buttons-container {
    width: 2em;
    padding : 0;
    position: fixed;
    bottom : 0.4em;
    z-index: 3;
  }
  .summit-button{
    width: 2.5em;
    height: 1.5em;
    position: fixed;
    bottom : 0.3em;
    right : 30%;
    z-index:3;
  }
  .back-button {
    width: 2.5em;
    height: 1.5em;
    position: fixed;
    bottom : 0.3em;
    left : 30%;
    z-index:3;
  }
  .edit-post-container input[type=submit]{
    background-color: transparent;
    color: transparent;
    border: none;
    z-index: 5;
}
  .edit-post-container .submit i{
    display: block;
    width: 2em;
    background-color: transparent;
    border : none;
    color : #ffffff;
    text-align: center;
    font-size: 1.3em;
    position:  absolute;
    top:0;
    z-index: 3;
  }
  .edit-post-container input[type=submit]:hover{
    background-color: transparent;
    border: none;
    color: transparent;
  }
  .edit-post-container .submit i:hover{
    background-color: transparent;
    border: none;
  }
  .edit-post-container .back{
    background-color: transparent;
    border: none;
    color : transparent;
    z-index :4;
  }
  .edit-post-container .back i{
    display: block;
    background-color: transparent;
    border: none;
    color : #ffffff;
    font-size: 1.5em;
    position: absolute;
    top : 0;
    z-index : 3;
  }
  .edit-post-container .back:hover {
    background-color: transparent;
    border: none;
    color : transparent
  }
  .edit-post-container .back i:hover{
    background-color: transparent;
    border: none;
  }

  /*flagsView*/
  .flagsView-content{
    min-height: 475px;
  }
  .flags-head h2{
    font-size : 1.5em;
  }
  .flags-list p{
    font-size: 0.9em;
  }
  .flags-list table{
    width : 95%;
    margin : 10% auto 12% auto;
  }

  .flags-list .flags {
    text-align: left;
    white-space: nowrap;
  }
  .flags-list .ok p,.flags-list .delete p,.flags-list .post p{
    display: none;
  }
  .flags-list-post a{
    display: none;
  }
  .flags-list-comments{
    text-align: left;
    width: 70%;
  }

  /*logoutView*/
  .logout{
    width : 80%;
    margin : 15% auto 2% auto;
    border : 1px solid #DAE0E2;
    border-radius: 10px;
    box-shadow: 1px 2px 3px #3d3d3dbd;
  }
  .logout h2{
    border-left: 3px solid #053861;
    font-size : 1.5em;
  }
  .logout p{
    font-size: 0.9em;
  }

  footer{
    display: none;
  }
}
@media screen and (max-width: 375px) {
  /*adminview*/
  .admin-subtitle {
    white-space: normal;
    width: 85%;
    margin: 12% auto auto auto;
  }
 /*editpostviews*/

  .edit-post-container input[type=checkbox] {
    opacity:0;
  }

}
